<!DOCTYPE html>

<head>
    <title>Add recipe</title>
    <script>
        function addIngredient() {
            var container = document.getElementById('ingredients');
            var newInput = document.createElement('input');
            newInput.type = "text";
            newInput.name = "ingredients";
            newInput.placeholder = "Type an ingredient";
            container.appendChild(newInput);
            container.appendChild(document.createElement("br"));
        }
    </script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h2>Your food recipe</h2>
    <form action="/register" method="POST">
        <label for="name">Recipe</label>
        <input type="text" name="name" placeholder="Name"> <br>
        <div>
            <input type="text" name="description" placeholder="Description"> <br>
        </div>
        <label>Ingredients</label> <br>
        <div id="ingredients">
            <input type="text" name="ingredients" placeholder="Type an ingredient"> <br>
        </div>
        <button type="button" onclick="addIngredient()">Add ingredient</button>
        <br><br>
        <button type="submit">Register</button>

    </form>
</body>

</html>